.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #edeff5;
  border-radius: 12px;
  padding: 16px 20px;
  background: #fff;
  width: 80%;
  margin: 16px auto;
}
.job-card:hover {
  border: 1px solid var(--color-primary);
}

/* LEFT */
.job-card-left {
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 0;
  flex: 1;
}

.job-card-logo {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  object-fit: cover;
}

.job-card-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
}

/* title + tag */
.job-card-top {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 0;
}

.job-card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  max-width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* tag */
.job-card-type {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
}

.job-card-type.full {
  background: #e8f1ff;
  color: var(--color-primary);
}

.job-card-type.part {
  background: #e8f0fe;
  color: var(--color-primary);
}

/* meta (Đà Nẵng | $ | deadline) */
.job-card-meta {
  display: flex;
  gap: 18px;
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
}
.job-card-info-item {
  display: flex;
  align-items: center;
  gap: 2px;
}
/* RIGHT */
.job-card-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.apply-btn {
  background: #e7f0fa;
  color: var(--color-primary);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.apply-btn:hover {
  background: var(--color-primary);
  color: #fff;
}

.bookmark {
  cursor: pointer;
  font-size: 30px;
  color: #9ca3af;

  transition: 0.2s;

  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.bookmark.saved {
  color: #0b0bc1;

  font-variation-settings:
    "FILL" 1,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}
@media (max-width: 1400px) {
  .job-card-meta {
    gap: 7px;
  }
}
/* Responsive */
@media (max-width: 1024px) {
  .job-card {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .job-card {
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .job-card-right {
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #f3f4f6;
    padding-top: 12px;
  }

  .apply-btn {
    flex: 1;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .job-card {
    padding: 12px;
  }

  .job-card-left {
    align-items: flex-start;
  }

  .job-card-top {
    flex-wrap: wrap;
    gap: 6px;
  }

  .job-card-title {
    font-size: 16px;
    width: 100%;
    text-align: left;
  }

  .job-card-meta {
    flex-direction: column;
    gap: 4px;
  }

  .job-card-logo {
    width: 48px;
    height: 48px;
  }
}
