.homepage {
  display: flex;
  flex-direction: column;
}
.pageHeader {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 25px;
}

/* layout chính */
.main {
  display: flex;
  flex: 1;
  background: #f5f7fb;
  margin-top: 90px;
  overflow: hidden;
}

/* sidebar luôn bên trái */
.main > :first-child {
  flex-shrink: 0;
}

/* right content */
.right {
  flex: 1;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

/* body */
.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* list job */
.list {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* pagination */
.paginationWrap {
  display: flex;
  justify-content: center;
}

/* tablet */
@media (max-width: 1481px) {
  .right {
    padding: 16px;
  }
}

/* giữ sidebar bên trái */
@media (max-width: 1380px) {
  .main {
    flex-direction: row;
    overflow: hidden;
  }

  .right {
    padding: 12px;
  }

  .body {
    overflow: hidden;
  }

  .list {
    overflow-y: auto;
  }

  .homepage {
    min-height: 100vh;
  }
}

/* mobile */
@media (max-width: 1024px) {
  .right {
    padding: 10px;
  }

  .list {
    gap: 12px;
  }
  .pageHeader {
    margin-top: 16px;
  }
  .pageHeader h2 {
    font-size: 24px;
  }
  .paginationWrap {
    margin-top: 0px;
  }
  .actions {
    margin-bottom: 15px;
  }
}

/* mobile nhỏ */
@media (max-width: 768px) {
  .main {
    margin-top: 60px;
  }

  .right {
    padding: 8px;
  }
  .actions {
    margin-bottom: 5px;
  }
}
@media (max-width: 400px) {
  .actions {
    width: 100%;
  }
}
