.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-main);
}

.card {
  width: 500px;
  max-width: 90%;
  padding: 40px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 20px;
}

.logo img {
  width: 28px;
}
