/* Header */
.homepage-header {
  background: var(--color-main);
  color: white;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.homepage-header div {
  display: flex;
  align-items: center;
}
.homepage-logo {
  height: 40px;
  margin-right: 10px;
}
.homepage-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.homepage-join-btn {
  background: var(--color-accent);
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.3s ease;
}
.homepage-join-btn:hover {
  background: var(--color-accent-hover);
}
/* Responsive */
@media (max-width: 768px) {
  .homepage-header {
    padding: 0 20px;
    height: 60px;
  }

  .homepage-title {
    font-size: 20px;
  }

  .homepage-logo {
    height: 30px;
  }

  .homepage-join-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .homepage-header {
    padding: 10px 15px;
    flex-direction: row;
    justify-content: space-between;
  }


  .homepage-logo {
    margin-right: 0;
  }

  .homepage-join-btn {
    padding: 6px 12px;
    font-size: 13px;
  }
}