/* Header */
.homepage-header {
  background: #302B63;
  color: white;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-header div {
  display: flex;
  align-items: center;
}
.homepage-logo {
  height: 40px;
  margin-right: 10px;
}
.homepage-title {
  font-size: 26px;
  font-weight: bold;
}
.homepage-join-btn {
  background: #BD0C47;
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.3s ease;
}
.homepage-join-btn:hover {
  background: #cc0000;
}