.combobox {
  width: 250px;
}

.select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .combobox {
    width: 100%;
  }
}
