/* CARD */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* HEADER */
.header {
  margin-bottom: 16px;
}

.header h3 {
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.header h2 {
  margin-top: 6px;
  font-size: 22px;
  text-align: left;
}

/* FILTER */
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

/* SELECT */
.select {
  background: #f1e8ff;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

/* CHART BOX */
.chartBox {
  width: 100%;
}
