.job-details-container {
    display: flex;
    margin-top: 90px;
    background: #f5f5f5;
    min-height: 100vh;
}
.job-details {
    flex: 1;
    display: flex;
    flex-direction: row; /* desktop nằm ngang */
    align-items: flex-start;
    margin-right:25px;
}
.job-details-posting-container {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.job-details-card {
    background: #ffffff;
    border-radius: 24px;
    padding: 35px;
}

/* HEADER */

.job-details-header {
    margin-bottom: 30px;
}

.company-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 16px;
    background: #e7e7e7;
}

.job-details-title-infor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.job-details-title {
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1d;
    margin: 0;
}

.company-name {
    font-size: 20px;
    color: #2c2c2c;
}

/* BUTTON */
.job-details-button {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 350px;
}

.apply-button,
.save-button {
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

/* APPLY */

.apply-button {
    background: #4361ee;
    color: white;
    border: none;
}

.apply-button:hover {
    background: #3651d4;
    transform: translateY(-2px);
}

/* SAVE */

.save-button {
    background: white;
    color: #111;

    border: 2px solid #111;
}

.save-button:hover {
    background: #f7f7f7;
    transform: translateY(-2px);
}

/* INFO GRID */

.job-details-info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.info-box {
    padding: 20px 10px;
    text-align: center;
    border-right: 1px solid #dcdcdc;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info-box:last-child {
    border-right: none;
}

.info-label {
    font-size: 18px;
    color: #7b7b7b;
}

.info-value {
    font-size: 18px;
    color: #1d1d1d;
}

/* CONTENT */

.job-details-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

/* LEFT */

.main-column {
    display: flex;
    flex-direction: column;
}
.job-details-section{
  text-align: left;
}
.section-text{
  margin-bottom:20px;
  text-align: justify;
}
.job-details-section h2 {
    font-size: 24px;
    color: var(--color-primary);
}

.description-group {
    margin-bottom: 25px;
}

.description-group h3 {
    font-size: 25px;
    color: #1d1d1d;
    margin-bottom: 12px;
}

/* RIGHT */

.sidebar-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px;
    min-width:250px;
}

.info-card {
    border-radius: 18px;
    padding: 12px;
}

.purple-card {
    background: #2f296b;
    color: white;
}

.purple-card h3 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}
.detail-item span{
  font-size: 18px;
}

.detail-item p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}
.list-jobs {
    width: 100%;
    max-width: 350px;
    margin-bottom:15px;
    margin-top: 30px;
}

.list-jobs-title {
    font-size: 28px;
    color: #000;

    margin-bottom: 24px;
    text-align: left;
}

/* LIST */

.related-jobs-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* =========================
   RESPONSIVE DESIGN
========================= */
@media screen and (max-width: 1200px) {
    .job-details-posting-container{
        max-width:1200px;
        margin-bottom:0;
    }
    .job-details{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .list-jobs{
        max-width:100%;
        padding-left:30px;
        margin-top:0;
    }
    .related-jobs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}
@media screen and (max-width: 1000px){

    .job-details {
        margin-right: 0;
    }

    .job-details-posting-container{
        max-width: 90%;
        padding: 0 20px;
        margin-bottom: 0;
    }

    /* CONTENT */
    .job-details-content {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    /* INFO GRID */
    .job-details-info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* SIDEBAR */
    .sidebar-column{
        flex-direction: column;
        margin-top: 0;
    }

    .detail-item{
        min-width: unset;
    }

    /* BUTTON */
    .company-badge{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .job-details-button{
        width: 100%;
        max-width: 100%;
    }

    .apply-button,
    .save-button{
        flex: 1;
        height: 55px;
        font-size: 16px;
    }
    .info-box{
        border-left: 1px solid #dcdcdc;
    }
    .info-box:last-child{
        border-right: 1px solid #dcdcdc;
    }
    /* RELATED JOB */
    .list-jobs{
        max-width: 90%;
        margin-top: 0;
    }

    .related-jobs-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media screen and (max-width: 768px){
    .job-details-container{
        margin-top:60px;
    }
    .related-jobs-list{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 650px){

    .job-details-card{
        padding: 20px;
    }
    .job-details-posting-container{
        max-width: 85%;
    }
    .job-details-info-grid{
        grid-template-columns: 1fr;
    }

    .related-jobs-list{
        grid-template-columns: 1fr;
    }

    .job-details-button{
        flex-direction: column;
    }

    .apply-button,
    .save-button{
        width: 100%;
        padding:10px;
    }
    .save-button .material-symbols-outlined{
        font-size:20px;
    }
    .job-details-title{
        font-size: 20px;
    }

    .company-name{
        font-size: 16px;
    }

    .info-label{
        font-size: 18px;
    }

    .info-value{
        font-size: 20px;
    }
}